.drawer {
  position: relative;
  height: 3rem;

  .nav-box {
    height: 100%;

    .list {
      &-items {
        height: 100%;
        display: flex;
      }
      &-item {
        flex: 1;
        list-style-type: none;
        > * {
          height: 100%;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

  }
}
