.drawer {
  position: relative;
  height: calc(100vh - 1px);
  box-shadow: 0 7px 4rem rgba(#000, 1);
  z-index: 1;
  .nav-box {
    height: inherit;
    top: 0;
    width: 100%;

    .list {
      &-items {
        height: 100%;
        display: flex;
        background-color: rgb(21, 1, 41);
        border-bottom: 1px solid #FFF;
      }

      &-item {
        flex: 1;
        list-style-type: none;
        position: relative;
        font-size: 2rem;
        transition: all .4s;
        &:not(:nth-child(3)) {
          border-right: 1px solid rgb(39, 9, 74);
        }

        &:hover {
          z-index: 1000;
          cursor: pointer;
          transition: all .5s .5s;
          flex: 2;
          box-shadow: 0 0 1rem #0f0e18;

          & > * {
            & > * {
              filter: invert(0);
              height: 6.8rem;
              width: 6.8rem;
              transition: all .26s .6s;
            }
          }
        }

        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-family: fantasy;
        background-size: 300%;
        width: 100%;
        height: 100%;

        &::before {
          content: '';
          z-index: -1000;
          position: absolute;
          background-size: 300%;
          width: 100%;
          height: 0;
          transition: all .3s;
        }

        &:hover:before {
          background-color: #fff;
          box-shadow: 0 0 5rem rgba(#000, .8);
        }

        &:not(:nth-child(2)):hover:before {
          top: 0;
          left: 0;
          height: 100%;
          transition: all .4s .3s;
          transform: scale(1) skewY(0);
        }

        &:nth-child(2):hover:before {
          bottom: 0;
          left: 0;
          height: 100%;
          transition: all .4s .3s;
          transform: scale(1) skewY(0);
        }

        > * {
          display: flex;
          height: 100%;
          width: 100%;
          justify-content: center;
          align-items: center;
          color: #222;

          > * {
            filter: invert(1);
            animation: filterIcons 1s  forwards infinite;
            width: 4rem;
            height: 4rem;
          }
        }
      }
    }
  }
}


@keyframes filterIcons {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(10deg);

  }
  50% {
    transform: rotate(-10deg);

  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
