/*  base  */
* {
  padding: 0;
  margin: 0; }

*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

a {
  text-decoration: none; }

::-webkit-scrollbar {
  width: 2px;
  box-sizing: 0 0 4rem black;
  background-color: #fff;
  max-height: 2rem !important; }

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 7px; }

/*  components  */
.drawer {
  position: relative;
  height: calc(100vh - 1px); }
  .drawer .nav-box {
    height: inherit;
    top: 0;
    width: 100%; }
    .drawer .nav-box .list-items {
      height: 100%;
      display: flex;
      background-color: #fff;
      border-bottom: 1px solid #111; }
    .drawer .nav-box .list-item {
      flex: 1;
      list-style-type: none;
      position: relative;
      font-size: 2rem;
      transition: all .4s;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-family: fantasy;
      background-size: 300%;
      width: 100%;
      height: 100%; }
      .drawer .nav-box .list-item:not(:nth-child(3)) {
        border-right: 1px solid #1c1d1c; }
      .drawer .nav-box .list-item:hover {
        z-index: 1000;
        cursor: pointer;
        transition: all .5s .5s;
        flex: 2;
        box-shadow: 0 0 1rem #0f0e18; }
        .drawer .nav-box .list-item:hover > * > * {
          filter: invert(1);
          height: 6.8rem;
          width: 6.8rem;
          transition: all .26s .6s; }
      .drawer .nav-box .list-item::before {
        content: '';
        z-index: -1000;
        position: absolute;
        background-color: #000;
        background-size: 300%;
        width: 100%;
        height: 0;
        transition: all .3s; }
      .drawer .nav-box .list-item:hover:before {
        box-shadow: 0 0 5rem rgba(0, 0, 0, 0.8); }
      .drawer .nav-box .list-item:not(:nth-child(2)):hover:before {
        top: 0;
        left: 0;
        height: 100%;
        transition: all .4s .3s;
        transform: scale(1) skewY(0); }
      .drawer .nav-box .list-item:nth-child(2):hover:before {
        bottom: 0;
        left: 0;
        height: 100%;
        transition: all .4s .3s;
        transform: scale(1) skewY(0); }
      .drawer .nav-box .list-item > * {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        color: #222;
        letter-spacing: 2px; }
        .drawer .nav-box .list-item > * > * {
          filter: invert(0);
          animation: filterIcons 1s  forwards infinite;
          width: 4rem;
          height: 4rem; }

@keyframes filterIcons {
  0% {
    transform: rotate(0); }
  25% {
    transform: rotate(10deg); }
  50% {
    transform: rotate(-10deg); }
  75% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(0deg); } }

.main .study {
  height: calc(100vh - 8.1rem);
  padding: 4rem 3rem; }
  .main .study .grid {
    height: 100%; }
    .main .study .grid-layout {
      height: inherit;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem 1rem; }
      .main .study .grid-layout .item {
        font-size: 2rem;
        letter-spacing: 1px;
        overflow-x: visible;
        transition: all .1s; }
        .main .study .grid-layout .item:hover {
          transform: scale(1.04); }
        .main .study .grid-layout .item--1 {
          background-color: yellow;
          color: #000; }
        .main .study .grid-layout .item--2 {
          background-color: lightblue;
          color: #000; }
        .main .study .grid-layout .item--3 {
          background-color: lightpink;
          color: #fff; }
        .main .study .grid-layout .item--4 {
          background-color: lightgreen; }
        .main .study .grid-layout .item--5 {
          background-color: purple; }
        .main .study .grid-layout .item--6 {
          background-color: blue; }

.main {
  padding: 4rem 0rem;
  width: calc(100vw - 12rem);
  height: calc(100vh - 1px);
  margin: 0 auto;
  position: relative;
  z-index: 2;
  overflow-y: auto;
  box-shadow: 0px 0rem 13rem rgba(68, 68, 68, 0.2); }

/*    Layout    */
