.editor {
  min-width: 40rem;

  .editor-provider {
    padding: 1rem 2rem;

    > * {
      width: 100%;
    }

    .live-editor {
      min-height: 34rem;
      max-height: 50rem;
      box-shadow: inset 0 0 9rem #000;
      border-radius: 9px;
      transition: all .2s;
      font-size: 1.9rem;
      overflow: auto;
      transition: all .2s;
      margin: 0 auto;
      min-width: 1rem;
      max-width: 80vw;
      margin-bottom: 3rem;
      position: relative;
      background-color: rgb(12, 2, 27);

      &:hover {
        transform: scale(.98);
        transition: all .1s;
      }

      &:focus {
        background-color: rgba(255, 0, 0, 0.27);
        transition: all .2s;
      }
    }
    .who {
      max-height: 50vh;
      overflow: auto;
      transition: all .2s;
      border: 1px solid #fff;
      max-width: 80vw;
      margin: 0 auto;
      &:hover {
        transform: scale(.98);
        box-shadow: inset 0 0 5rem rgba(#000, .8);
      }

    }
  }

  &-error {
    color: #f52828;
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;

  }

}

.preview {
  max-height: 20rem;
}
