.main {
  padding: 4rem 0rem;
  width: calc(100vw - 12rem);
  height: calc(100vh - 1px);
  margin: 0 auto;
  position: relative;
  z-index: 2;
  overflow-y: auto;
  box-shadow: 0px 0rem 13rem rgba(#444, .2);
}
