.main {
  height: calc(100vh - 1px);
  width: calc(100vw - 4rem);
  margin: 0 auto;
  background-color: rgb(21, 1, 41);
  box-shadow: 0 0 4rem rgba(#000, 1);
  overflow: auto;
  z-index: 0;

  &:hover {

  }

  > div {
    padding: 4rem 0;
    z-index: 0;
    box-shadow: 0 0 -4rem rgba(#000, 1);
  }

  > div, > * {
    opacity: 1;
    transform: scale(1);
    animation-name: routePage;
    animation-duration: 1s;
  }

}

@keyframes routePage {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.3;
    transform: scale(.4);
  }
  60% {
    opacity: 0.2;
    transform: scale(.3);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
