.main {
  padding: 4rem 0;
  height: calc(100vh - 1px);
  width: calc(100vw - 8rem);
  margin: 0 auto;
  position: relative;
  z-index: 2;
  overflow-y: auto;
  background-color: rgb(21, 1, 41);
  box-shadow: 0 0 5.7rem rgba(#000, .79);

  &:hover {

  }

  > div {
    background-color: rgb(21, 1, 41);
  }

  > div, > * {
    opacity: 1;
    transform: scale(1);
    animation-name: routePage;
    animation-duration: 1s;
  }

}

@keyframes routePage {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.3;
    transform: scale(.4);
  }
  60% {
    opacity: 0.2;
    transform: scale(.3);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
