.main {
  .study {
    height: calc(100vh - 8.1rem);
    padding: 4rem 3rem;

    .grid {
      height: 100%;

      &-layout {
        height: inherit;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem 2rem;

        .item {
          font-size: 2rem;
          letter-spacing: 1px;
          overflow-x: visible;
          transition: all .4s;
          background-color: #fff;
          border: 1px solid black;
          opacity: .3;
          border-radius: 8px;
          &:hover {
            cursor: pointer;
            opacity: 1;
            transform: scale(1.04);
          }

          & > * , & > * > * {
            height: 100%;
            width: 100%;
            letter-spacing: 2px;
            color: #444;
            font-family: fantasy;
            display: flex;
            font-size: 2rem;
            justify-content: center;
            align-items: center;
            transition: all .3s;

            &:hover {
              color: #222;
              animation: chaptersContent 1s forwards infinite;
            }
          }

          &--1 {
          }
          &--2 {
          }
          &--3 {
          }
          &--4 {
          }
          &--5 {
          }
          &--6 {
          }
        }
      }
    }
  }
}

@keyframes chaptersContent {
  0% {
    letter-spacing: 2px;
  }
  50% {
    letter-spacing: 3px;
  }
  100% {
    letter-spacing: 2px;
  }
}
