.chapter {
  > .cards {
    padding: 0 1rem;
    max-width: 80rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 2rem 4rem;
  }

  .approval-card {
    margin: 0 auto;
    width: 100%;
    min-height: 8rem;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;

    > *:not(.btns) {
      flex: 1;
    }
    .btns {
      display: flex;
      > * {
        font-size: 1.2rem;
        flex: 1;
        transition: all .1s;
        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
}
