.season-display {
  color: #333;
  height: 50rem;
  max-width: 90%;
  margin: 0 auto;
  border-radius: 9px;
  position: relative;
  background-image: linear-gradient(to right top, #0066ff, #7b88ff, #b0aeff, #dad5ff, #ffffff);

  > .season-title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2 {
    text-align: center;
    letter-spacing: 2px;
    font-family: sans-serif;
  }

  i {
    position: absolute;
    height: 7rem;
    width: 7rem;
    img {
      height: inherit;
      width: inherit;
      filter: invert(.6);
    }
  }

  i:first-child {
    top: -2rem;
    background-color: red;
    left: 1rem;
  }

  i:last-child {
    bottom: 0;
    right: 1rem;
  }

}
