@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
.season-display {
  box-shadow: inset 0 0 17rem #150129;
  color: #333;
  height: 50rem;
  max-width: 90%;
  margin: 0 auto;
  border-radius: 9px;
  position: relative;

  &-winter {
    background-image: linear-gradient(to right top, #0016ff, #0063ff, #008cff, #00aeff, #3dcbfd);
  }
  &-summer {
    background-image: linear-gradient(to right top, #ffbc00, #ffa200, #ff8700, #ff6900, #ff4512);
  }

  > .season-title {
    font-family: 'Bowlby One SC', cursive;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2 {
    text-align: center;
    letter-spacing: 2px;
    font-family: sans-serif;
  }

  i {
    position: absolute;
    height: 7rem;
    width: 7rem;
    img {
      width: inherit;
      filter: invert(.6);
    }
  }

  i:first-child {
    top: 0;
    left: 1rem;
  }

  i:last-child {
    bottom: 0;
    right: 1rem;
  }

}
