body {
  background-color: rgb(21, 1, 41);
  color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(21, 1, 41);
  max-height: 2rem !important;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 7px;
}
